/*When the modal fills the screen it has an even 2.5% on top and bottom*/
/*Centers the modal*/
/*Sets the maximum height of the modal body to 90% of the screen height*/
::ng-deep .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    max-height: 80vh;
    min-height: 80vh;
    overflow-y: scroll;
}
::ng-deep .modal-dialog {
    min-width: 150vh;
    max-width: 150vh;
}

::ng-deep button[data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 10px/1 FontAwesome;
    font-size: 25px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f056";
    align-content: flex-end;
    transform: rotate(0deg) ;
    transition: all linear 0.25s;
    color:#275B7D;

}   
::ng-deep button[data-toggle="collapse"].collapsed:after {
    
    transform: rotate(90deg) ;
    content: "\f055";
}
a{
    text-align: end;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}