<div class="row">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
   <!-- <li class="nav-item">
      <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" routerLink="training-series">Trainig Series</a>
    </li>-->
    <li class="nav-item">
      <a class="nav-link active" id="build-tab" data-toggle="tab" href="#build" role="tab" aria-controls="build" aria-selected="true" routerLink="build">Build</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="predict-tab" data-toggle="tab" href="#predict" role="tab" aria-controls="predict" aria-selected="false" routerLink="predict">Predict</a>
    </li>
  </ul>
</div>
  <div class="tabs_info">
    <br>
    <br>
    <router-outlet></router-outlet>
  </div>




        