<div class="box">
  <input type="file" #file name="file" id="file" ng2FileSelect [uploader]="uploader" (change)="onFileChanged($event)" accept=".sdf" />
  <button type="button" class="btn btn-success" (click)="uploader.uploadAll(); " [disabled]="!uploader.getNotUploadedItems().length">
    Upload
  </button>
  <div class="progress mt-3" style="border-radius: 5px">
    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
  </div>
  <div class='properties' *ngIf="model.file!==undefined">
    <h4>SDFile fields</h4>
    <ul class="list-group list-group-flush">
      <li *ngFor="let field of model.fileFields" class="list-group-item">
        {{field}}
      </li>
    </ul>
  </div>
</div>