<div class="row">
  <button type="button" class="btn btn-outline-success">New Training Serie</button> 
</div>
<div class ="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">#Molecules</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>TrainSet 1</td>
        <td>1564</td>
        <td>molecule</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>TrainSet_2 Caco</td>
        <td>1800</td>
        <td>data</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>TrainSet_3 Caco</td>
        <td>2000</td>
        <td>molecules</td>
      </tr>
    </tbody>
  </table>
</div>