<!--div class="box">
  <input type="file" #file name="file" id="file" ng2FileSelect [uploader]="uploader" accept=".sdf" />
  <button type="button" class="btn btn-success" (click)="uploader.uploadAll(); " [disabled]="!uploader.getNotUploadedItems().length">
    Upload
  </button>
  <div class="progress mt-3" style="border-radius: 5px">
    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
  </div>
  <div class='properties' *ngIf="model.file!==undefined">
    <h4>SDFile fields</h4>
    <ul class="list-group list-group-flush">
      <li *ngFor="let field of model.fileFields" class="list-group-item">
        {{field}}
      </li>
    </ul>
  </div>
</div>-->
<!--
<input type="file" (change)="onChange($event.target.files)">-->
<div class="form-group">
  <!--<button  for="exampleFormControlFile1" class="btn btn-primary mb-2">Confirm identity</button>-->
  <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onChange($event.target.files)">
</div>

<div *ngIf="this.num_of_mols>0">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" ><p class="m-0"><strong>Number of molecules: </strong> {{this.num_of_mols}}</p></li>
    <li class="list-group-item" ><p class="m-0"><strong>Type file: </strong> {{this.type_file}} </p></li>
  </ul>
</div>