<div class="accordion">
  <div class="card" [ngClass]="{'disabledbutton':trainigseriesEnable}">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
          1- Training Serie
        <button class="btn btn-link pt-0 pb-0 float-right" [ngClass]="{'collapsed':trainigseriesCollapsed}" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        </button>
      </h5>
      
    </div>

    <div #trainigseries id="collapseOne" class="collapse" aria-labelledby="headingOne" >
      <div class="card-body">
          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
      </div>
    </div>
  </div>
  <div class="card" [ngClass]="{'disabledbutton':modelEnable}">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
          2- Model
        <button class="btn btn-link pt-0 pb-0 float-right" [ngClass]="{'collapsed':trainigseriesCollapsed}" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" >
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card" [ngClass]="{'disabledbutton':validationEnable}">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
          3 - Model Validation
        <button class="btn btn-link pt-0 pb-0 float-right" [ngClass]="{'collapsed':trainigseriesCollapsed}" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" >
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

<div class="row form-inline" >
  <div class="form-group mx-sm-3 mb-2">
    <label for="model_name">Model name: </label>
    <input type="text" class="form-control ml-2" [(ngModel)]="modelName" placeholder="name">
  </div>
  <button class="btn btn-primary mb-2" (click)="createModel()">Create model</button>
</div>
