<div class="container">
  <div class="row ml-2">
    <div class="row">
      <h4>Publish</h4>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-raised btn-etransafe m-1" (click)="cloneModel()">Clone</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-raised btn-etransafe m-1">Export</button>
      </div>
    </div>
  </div>
  <hr class="line">
  <div class="row ml-2">
    <div class="row">
      <h4>Delete</h4>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-raised btn-etransafe m-1" (click)="deleteModel()">Model</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-raised btn-etransafe m-1" (click)="deleteVersion()">Version</button>
      </div>
    </div>
  </div>
  <hr class="line">
  <div class="row ml-2">
    <div class="row">
      <h4>Create</h4>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-raised btn-etransafe m-1" data-toggle="modal" data-target="#exampleModal">New model</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-raised btn-etransafe m-1">Import</button>
      </div>
    </div>
  </div>
</div>