
<div class="page-header border-bottom mb-3">
  <div class="d-flex">
        <div class="mr-auto p-2">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/modeling"  data-toggle="tab" role="tab">Modeling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/similarity" data-toggle="tab" role="tab">Similarity</a>
                </li>
            </ul>
        </div>
        <div class="p-2">
            <!--<a target="_blank">
                <img [src]="imageSource" data-holder-rendered="true" height="40"/>
            </a>-->
        </div>
    </div>
</div>


<div class="tab-content" id="myTabContent">
 
   <router-outlet></router-outlet>

</div>