a:hover {

    background: #E7E7E7;
}

a.active {
    background: rgb(212, 207, 198);
    border-color: rgb(212, 207, 198);
}
a {
    background: linear-gradient(to left, #F7F7F7 0%, #F7F7F7 100%);
   
}
.wrap {
    cursor:not-allowed;
}
.disabled{
   pointer-events: none 
}