<div class="row align-items-start">
  <div class="bg-light border-right pr-2 pl-2" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light">Model</a>
        <a class="list-group-item list-group-item-action bg-light">Training serie</a>
        <a class="list-group-item list-group-item-action bg-light">Paramaters</a>
        <a class="list-group-item list-group-item-action bg-light">Results</a>
      </div>
      
  </div>
</div>
<div class="row align-items-end">
  <button type="button" class="btn btn-primary">Train</button>
</div>