
  <div class="align-self-start">
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action active" data-toggle="list" role="tab" aria-controls="model" routerLink="build">Model</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" aria-controls="trainigserie" routerLink="trainigseries">Training series</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" aria-controls="parameters" routerLink="parameters">Parameters</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" aria-controls="results" routerLink="validation">Results</a>
      </div> 
  </div>
  <div class="align-self-end">
  <button type="button" class="btn btn-outline-primary">Build</button>
  </div>