
<!--Input type-->
<div class="form-row">
  <div class="form-group col-md-4">
    <label class="bmd-label-floating" for="input_type">input_type</label>
    <select id="key" class="form-control" [(ngModel)]="this.model.parameters['input_type'].value">
      <option *ngFor="let value of this.model.parameters['input_type'].options">{{value}}</option>
    </select>
  </div>
</div>



<div class="form-row">
  <div *ngFor="let key of infoSeries[this.model.parameters['input_type'].value]" class="form-group col-md-4 mb-4">
    <div *ngIf="this.model.parameters[key].writable" style="margin-top: 11px;">
      <label class="bmd-label-floating" for="key" style="margin-top: 11px;">{{key}}</label>
        <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='int'" id="key" type='number' placeholder="{{key}}" >
        <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='float'" id="key" type='number' placeholder="{{key}}" step=0.01 >
        <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='string'" id="key" type='text' placeholder="{{key}}">
        <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='list'" id="key" type='text' placeholder="{{key}}">
    </div>
    <div class="checkbox" *ngIf="!this.model.parameters[key].writable && this.model.parameters[key].object_type==='boolean'">
      <label>
        <input  type="checkbox" [(ngModel)]="this.model.parameters[key].value">
        {{key}}
      </label>
    </div>  
    <div *ngIf="!this.model.parameters[key].writable && this.model.parameters[key].object_type!='list' && this.model.parameters[key].object_type!='boolean'">
      <label class="bmd-label-floating" for="key">{{key}}</label>
      <select id="key" class="form-control" [(ngModel)]="this.model.parameters[key].value">
        <option *ngFor="let value of this.model.parameters[key].options">{{value}}</option>
      </select>
    </div>
    <div class="checkbox mt-3" *ngIf="!this.model.parameters[key].writable && this.model.parameters[key].object_type==='list'">
      <label id="key" class="bmd-label-floating mb-2 p-0">{{key}}</label>
      <label id="key" class="mr-2 mb-2 w-100" *ngFor="let value of this.model.parameters[key].options">
        <input id="key" type="checkbox"
              [(checklist)]="this.model.parameters[key].value"
              [checklistValue]="value" />
            {{value}}
      </label>
    </div>
    <small id="key" class="text-muted">
      {{this.model.parameters[key].description}}
    </small>
    <!--<span class="bmd-help">{{this.model.parameters['computeMD_method'].description}}</span>--> 
  </div>
</div>