<div class="row">
  <button type="button" class="btn btn-outline-success">New  Prediction</button> 
</div>
<div class ="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Model name</th>
        <th scope="col">#Test Molecules</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Prediction 1</td>
        <td>Caco model dev</td>
        <td>50</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Prediction 2</td>
        <td>Caco model v2</td>
        <td>20</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Prediction 3</td>
        <td>Model_1</td>
        <td>56</td>
      </tr>
    </tbody>
  </table>
</div>
