
<div class ="row h-100">
  <div class="col-12 scrolltable" style="height: 100%;">
    <table class="table table-hover">
      <thead>
        <tr>
          <!--<th ></th>-->
          <th class="text-center" >State</th>
          <th>Name</th>
          <th class="text-center">Version</th>
          <th class="text-center">#Molecules</th>
          <th class="text-center">#Variables</th>
          <th>Type</th>
          <th class="text-right">Quality</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of objectKeys(model.listModels).sort()" 
          [ngClass]="{'selected': ((globals.actualTab==='build') && (model.listModels[key].name===this.model.name) && (model.listModels[key].version===this.model.version))
                                  || ((globals.actualTab==='predict') && (model.listModels[key].name===this.prediction.name) && (model.listModels[key].version===this.prediction.version)),
                      'version': model.listModels[key].version > 0}"
          (click)= "selectModel(model.listModels[key].name, model.listModels[key].version, model.listModels[key].trained,model.listModels[key].type)">
          <!--<th scope="row">
            <i class="far fa-eye" aria-hidden="true" (click)="viewModel()" data-toggle="tooltip" data-placement="left" title="Validation"></i>
            <i class="fas fa-code-branch" aria-hidden="true" (click)="createVersion()" data-toggle="tooltip" data-placement="left" title="New Version"></i>
            <i class="far fa-trash-alt" aria-hidden="true" (click)="deleteModel()" data-toggle="tooltip" data-placement="left" title="Delete"></i>
          </th>-->

          <!--"{'background-color': style1 ? 'red' : (style2 ? 'blue' : null) }" fas fa-circle, fas fa-square -->
          <td class="text-center" >
          <i class = "fas" [ngClass]="{'fa-grip-lines': model.listModels[key].type.indexOf('quantitative')==-1,
                        'fa-circle': model.listModels[key].type.indexOf('quantitative')!=-1,
                        'faa-flash animated': this.model.trainig_models.includes(model.listModels[key].name + '-' + model.listModels[key].version)}"
                        [ngStyle]="{'color': this.model.trainig_models.includes(model.listModels[key].name + '-' + model.listModels[key].version) ? '#E69400' : (model.listModels[key].trained ? '#51cf66' : 'red' ) }" 
                        aria-hidden="true"></i> 
         
                        
          </td>
          <td *ngIf="model.listModels[key].version === 0">{{model.listModels[key].name}}</td>
          <td class="text-center"*ngIf="model.listModels[key].version != 0"><i class="fas fa-level-up-alt fa-rotate-90 fa-lg"></i></td>
         
         
          <td class="text-center">{{model.listModels[key].version}}</td>
          <td class="text-center">{{model.listModels[key].numMols}}</td>
          <td class="text-center">{{model.listModels[key].variables}}</td>
          <td class="text-capitalize">{{model.listModels[key].type}}</td>
          <td class="text-right">
            
            <div  *ngIf="objectKeys(model.listModels[key].quality).length!=0">
              <a class="btn btn-primary m-0" data-toggle="collapse" href= "#collapse_{{model.listModels[key].name}}_{{model.listModels[key].version}}" role="button" aria-expanded="false" >
                        + INFO
              </a> 
                      
              <div class="collapse" id="collapse_{{model.listModels[key].name}}_{{model.listModels[key].version}}" >
                <div class="card card-body p-2">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item p-0 justify-content-between" *ngFor="let key2 of objectKeys(model.listModels[key].quality)"><strong>{{key2}} :</strong> <p class="m-0">{{model.listModels[key].quality[key2]}}</p></li>
                  </ul>
                </div>
              </div>
            </div>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--<div class="col-2 action" style="height: 100%;">
    <div class="row">
      <fieldset class="form-group mt-3 pl-3">
        <legend>Publish</legend>
        <button type="button" class="btn btn-outline-primary m-1" (click)="cloneModel()">Clone</button>
        <button type="button" class="btn btn-outline-primary m-1">Export</button>
      </fieldset>
    </div>
    <hr class="line">
    <div class="row">
      <fieldset class="form-group mt-3 pl-3">
        <legend>Delete</legend>
        <button type="button" class="btn btn-outline-danger m-1" (click)="deleteModel()">Model</button>
        <button type="button" class="btn btn-outline-danger m-1" (click)="deleteVersion()">Version</button>
      </fieldset>
    </div>
    <hr class="line">
    <div class="row">
      <fieldset class="form-group mt-3 pl-3">
        <legend>Create</legend>
        <button type="button" class="btn btn-outline-primary m-1" data-toggle="modal" data-target="#exampleModal">New model</button>
        <button type="button" class="btn btn-outline-success m-1">Import</button>
      </fieldset>
  </div>
  </div>
</div>-->
 


<!-- Modal -->
<div #modalWindow class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Model</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row form-inline" >
              <div class="form-group mx-sm-3 mb-2">
                <label for="model_name">Model name: </label>
                <input type="text" class="form-control ml-2" [(ngModel)]="modelName" placeholder="name">
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="createModel()">Create</button>
      </div>
    </div>
  </div>
</div>
