<div class="form-row">

<!--REST OF PARAMETERS-->
  <div *ngFor="let key of infoModel" class="form-group col-md-4">
    <div *ngIf="this.model.parameters[key].writable">
      <label class="bmd-label-floating" for="key">{{key}}</label>
        <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='int'" id="key" type='number' placeholder="{{key}}" >
        <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='float'" id="key" type='number' placeholder="{{key}}" step=0.01 >
        <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='string'" id="key" type='text' placeholder="{{key}}">
        <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='list'" id="key" type='text' placeholder="{{key}}">
    </div>
    <div class="checkbox" *ngIf="!this.model.parameters[key].writable && this.model.parameters[key].object_type==='boolean'">
      <label>
        <input  type="checkbox" [(ngModel)]="this.model.parameters[key].value">
        {{key}}
      </label>
    </div>  
    <div *ngIf="!this.model.parameters[key].writable && this.model.parameters[key].object_type!='list' && this.model.parameters[key].object_type!='boolean'">
      <label class="bmd-label-floating" for="key">{{key}}</label>
      <select id="key" class="form-control" [(ngModel)]="this.model.parameters[key].value">
        <option *ngFor="let value of this.model.parameters[key].options">{{value}}</option>
      </select>
    </div>
    <div *ngIf="!this.model.parameters[key].writable && this.model.parameters[key].object_type==='list' ">
      <label class="bmd-label-floating" for="key">{{key}}</label>
      <select multiple id="key" class="form-control">
        <option *ngFor="let value of this.model.parameters[key].options">{{value}}</option>
      </select>
    </div>
    <!--<small id="key" class="text-muted">
      {{this.model.parameters[key].description}}
    </small>  -->
    <span class="bmd-help">{{this.model.parameters['computeMD_method'].description}}</span> 
  </div>
</div>
<!--MODEL PARAMETERS-->
<fieldset class="border">  
    <legend>{{this.model.parameters['model'].value}} parameters</legend>
      <div class="form-inline m-3" *ngFor="let key of objectKeys(this.model.parameters[parametersModel[this.model.parameters['model'].value]].value)" >
        <div class="form-group" *ngIf="this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].writable">
          <label class="bmd-label-floating" >{{key}}</label>
            <input class="form-control" [(ngModel)]="this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].value" *ngIf="this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].object_type==='string'" id="key" type='text' placeholder="{{key}}" >
            <input class="form-control" [(ngModel)]="this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].value" *ngIf="this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].object_type==='int'" id="key" type='number' placeholder="{{key}}" >
            <input class="form-control" [(ngModel)]="this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].value" *ngIf="this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].object_type==='float'" id="key" type='number' placeholder="{{key}}" step=0.01>
            <small id="key" class="text-muted">
              {{this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].description}}
            </small>
        </div>
        <div class="checkbox" *ngIf="!this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].writable && this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].object_type==='boolean'">
          <label>
            <input type="checkbox"  [(ngModel)]="this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].value">
            {{key}}
          </label>
          <small id="key" class="text-muted">
          {{this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].description}}
          </small>
        </div>
        <div class="form-group" *ngIf="!this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].writable && this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].object_type!='list' && this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].object_type!='boolean'">
          <label for="key" class="bmd-label-floating">{{key}}</label>
          <select id="key" class="form-control" [(ngModel)]="this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].value">
            <option *ngFor="let value of this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].options">{{value}}</option>
          </select>
          <small id="key" class="text-muted">
          {{this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].description}}
        </small>
        </div>
        <div class="form-group" *ngIf="!this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].writable && this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].object_type==='list' ">
          <label for="key">{{key}}</label>
          <select multiple id="key" class="form-control">
            <option *ngFor="let value of this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].options">{{value}}</option>
          </select>
          <small id="key" class="text-muted">
            {{this.model.parameters[parametersModel[this.model.parameters['model'].value]].value[key].description}}
          </small>
        </div>
      </div>
</fieldset>
<!-- TUNE HARDCODED-->
<br>
<div class="checkbox">
 <label>
     <input type="checkbox" [(ngModel)]="this.model.parameters['tune'].value">
      Tune
    </label>
</div>
<!--MODEL OPTIMIZE-->
<fieldset class="border" *ngIf="this.model.parameters['tune'].value">  
  <legend>{{this.model.parameters['model'].value}} optimize</legend>
    <div class="form-inline m-3" *ngFor="let key of objectKeys(this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value)" >
      <div class="form-group" *ngIf="this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].writable">
        <label class="bmd-label-floating">{{key}}</label>
          <input class="form-control" [(ngModel)]="this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].value" *ngIf="this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].object_type==='string'" id="key" type='text' placeholder="{{key}}" >
          <input class="form-control" [(ngModel)]="this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].value" *ngIf="this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].object_type==='int'" id="key" type='number' placeholder="{{key}}" >
          <input class="form-control" [(ngModel)]="this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].value" *ngIf="this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].object_type==='float'" id="key" type='number' placeholder="{{key}}" step=0.01>
          <small id="key" class="text-muted">
            {{this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].description}}
          </small>
      </div>
      <div class="checkbox" *ngIf="!this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].writable && this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].object_type==='boolean'">
        <label>
          <input type="checkbox" [(ngModel)]="this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].value">
          {{key}}
        </label>
        <small id="key" class="text-muted">
        {{this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].description}}
        </small>
      </div>
      <div class="form-group" *ngIf="!this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].writable && this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].object_type!='list' && this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].object_type!='boolean'">
        <label class="bmd-label-floating" for="key">{{key}}</label>
        <select id="key" class="form-control" [(ngModel)]="this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].value">
          <option *ngFor="let value of this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].options">{{value}}</option>
        </select>
        <small id="key" class="text-muted">
        {{this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].description}}
      </small>
      </div>
      <div class="form-group" *ngIf="!this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].writable && this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].object_type==='list' ">
        <label for="key" class="bmd-label-floating">{{key}}</label>
        <select multiple id="key" class="form-control">
          <option *ngFor="let value of this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].options">{{value}}</option>
        </select>
        <small id="key" class="text-muted">
          {{this.model.parameters[optimizeModel[this.model.parameters['model'].value]].value[key].description}}
        </small>
      </div>
      
    </div>
</fieldset>