<div class="form-row">
  <div *ngFor="let key of infoPreferences" class="form-group col-md-4">
    
    <div *ngIf="this.model.parameters[key].writable">
      <label class="text-capitalize bmd-label-floating" for="key">{{key}}</label>
     <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='string'" id="key" type='text' placeholder="{{key}}" >
    <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='integer'" id="key" type='number' placeholder="{{key}}" >
    <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='float'" id="key" type='number' placeholder="{{key}}" step=0.01 >
    </div>
    <div class="check" *ngIf="!this.model.parameters[key].writable && this.model.parameters[key].object_type==='boolean'">
      <label class="text-capitalize" for="key">
        <input type="checkbox" id="key" [(ngModel)]="this.model.parameters[key].value">
       {{key}}
      </label>
    </div>
    <div *ngIf="!this.model.parameters[key].writable && this.model.parameters[key].object_type!='list' && this.model.parameters[key].object_type!='boolean'">
      <label class="text-capitalize bmd-label-floating" for="key">{{key}}</label>
      <select id="key" class="form-control" [(ngModel)]="this.model.parameters[key].value">
        <option selected>Choose...</option>
        <option *ngFor="let value of this.model.parameters[key].options">{{value}}</option>
      </select>
    </div>
    <div *ngIf="!this.model.parameters[key].writable && this.model.parameters[key].object_type==='list' ">
      <label class="text-capitalize bmd-label-floating" for="key">{{key}}</label>
      <select multiple id="key" class="form-control">
        <option selected>Choose...</option>
        <option *ngFor="let value of this.model.parameters[key].options">{{value}}</option>
      </select>
    </div>
    <small id="key" class="text-muted">
      {{this.model.parameters[key].description}}
    </small>  
  </div>
</div>
